@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Varela+Round&display=swap");
body {
  background-image: url("images/sofa.jfif");
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-background {
  position: absolute;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

header .logo {
  z-index: 2;
}

header .navbar {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}

header .navbar ul {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar ul li {
  list-style: none;
  padding: 20px;
  font-size: 25px;
}

header .navbar ul li a {
  color: white;
  text-decoration: none;
}

.home-page-text {
  text-align: center;
}

.home-page-text .flex h2 {
  color: #ffffff;
  font-size: 90px;
}

.home-page-text .flex h4 {
  color: #ffffff;
  font-size: 25px;
}

.home-page-text button {
  margin-top: 150px;
  padding: 8px 15px;
  background-color: red;
  border: 1px solid black;
  font-size: 20px;
}

.home-page-text button a {
  text-decoration: none;
  cursor: pointer;
}

.home-page-text button:hover {
  background-color: orange;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
}

.form-login-signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.form-login-signup .login {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  width: 30%;
}

.form-login-signup .login h4 {
  color: black;
  text-align: center;
  font-size: 30px;
}

.form-login-signup .login .form-login {
  text-align: center;
}

.form-login-signup .login .form-login input {
  margin: 20px auto;
  display: block;
  text-align: center;
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid white;
  font-size: 20px;
}

.form-login-signup .login .form-login button {
  padding: 8px 15px;
  border: 1px solid black;
  font-size: 20px;
  width: 200px;
  background-color: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #790953), color-stop(48%, #4d5291), to(#0063ff));
  background: linear-gradient(90deg, #020024 0%, #790953 0%, #4d5291 48%, #0063ff 100%);
}

.form-login-signup .login .form-login .error {
  font-size: 19px;
  color: red;
  font-weight: bold;
}

.form-login-signup .login .form-login .success {
  font-size: 19px;
  color: green;
  font-weight: bold;
}

section {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .container {
  justify-self: center;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
  margin: 30px 0;
  background-color: #020024;
  background: -webkit-gradient(linear, left top, right top, from(rgba(2, 0, 36, 0.5)), color-stop(0%, rgba(121, 9, 83, 0.5)), color-stop(48%, rgba(77, 82, 145, 0.5)), to(rgba(0, 99, 255, 0.5)));
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.5) 0%, rgba(121, 9, 83, 0.5) 0%, rgba(77, 82, 145, 0.5) 48%, rgba(0, 99, 255, 0.5) 100%);
}

section .container .error {
  font-size: 19px;
  color: red;
  font-weight: bold;
  margin: 20px auto;
}

section .container form {
  margin-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .container form .btn-delete {
  height: 50px;
  position: absolute;
  margin-left: 82.5%;
  margin-top: 500px;
  background-color: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #790953), color-stop(48%, #4d5291), to(#0063ff));
  background: linear-gradient(90deg, #020024 0%, #790953 0%, #4d5291 48%, #0063ff 100%);
  color: white;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 8px;
}

section .container form .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

section .container form .flexbox a {
  text-decoration: none;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  background-color: white;
  margin: 30px;
  color: black;
}

section .container form .flexbox a .img-css {
  width: 90%;
  height: 250px;
  background-size: cover;
}

section .container form .flexbox .image-container input[type='checkbox'] {
  position: relative;
  cursor: pointer;
}

section .container form .flexbox .image-container input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}

section .container form .flexbox .image-container input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

section .sidebar {
  margin: 30px 0 30px 80px;
  width: 250px;
  height: 600px;
  background-color: #020024;
  background: linear-gradient(356deg, rgba(2, 0, 36, 0.5) 0%, rgba(121, 9, 83, 0.5) 0%, rgba(77, 82, 145, 0.5) 48%, rgba(0, 99, 255, 0.5) 100%);
  border-radius: 20px;
}

section .sidebar .sidebar-background {
  margin: 0;
  border-radius: 20px;
}

section .sidebar .sidebar-background ul {
  margin: 0;
}

section .sidebar .sidebar-background ul a {
  text-decoration: none;
}

section .sidebar .sidebar-background ul a li {
  list-style: none;
  color: white;
  margin: 20px 0 20px 0;
  font-size: 25px;
}

.form-container {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

.form-container .gallery-upload-form {
  margin: 20px;
}

.form-container .gallery-upload-form h4 {
  text-align: center;
  font-size: 40px;
  color: white;
}

.form-container .gallery-upload-form form {
  display: block;
  text-align: center;
}

.form-container .gallery-upload-form form input {
  margin: 20px auto;
  display: block;
  text-align: center;
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid white;
  font-size: 20px;
}

.form-container .gallery-upload-form form textarea {
  width: 250px;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
}

.form-container .gallery-upload-form form button {
  padding: 8px 15px;
  border: 1px solid black;
  font-size: 20px;
  width: 200px;
  background-color: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #790953), color-stop(48%, #4d5291), to(#0063ff));
  background: linear-gradient(90deg, #020024 0%, #790953 0%, #4d5291 48%, #0063ff 100%);
  color: white;
}

.form-container .gallery-upload-form form label {
  font-size: 20px;
  color: white;
}

.form-container .gallery-upload-form form select {
  width: 270px;
  height: 30px;
}

.form-container .gallery-upload-form form select option {
  font-size: 15px;
}

.heading-all {
  text-align: center;
  font-size: 75px;
  color: white;
}

.heading-all-center {
  margin: auto;
  font-size: 55px;
  color: white;
}

.search-form {
  margin: 0;
}

.search-form input {
  padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
  width: 70%;
  -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.search-form button {
  margin-bottom: 30px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
  width: 80%;
  border-radius: 10px;
}

.search-form button:hover {
  background-color: orange;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.imgSection {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgSection .imgContainer {
  background-color: rgba(255, 255, 255, 0.5);
  height: 700px;
}

.imgSection .imgContainer img {
  margin-top: 20px;
  margin-left: 35%;
  border-radius: 50%;
  width: 30%;
  height: auto;
}

.single-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 25%;
  margin-top: 150px;
  background-color: #020024;
  background: linear-gradient(356deg, rgba(2, 0, 36, 0.5) 0%, rgba(121, 9, 83, 0.5) 0%, rgba(77, 82, 145, 0.5) 48%, rgba(0, 99, 255, 0.5) 100%);
  width: 50%;
  background-color: white;
}

.single-product form {
  margin: 10px auto;
}

.single-product form input {
  display: block;
  padding: 15px;
  margin: 10px;
}

.single-product form button {
  padding: 5px 10px;
  margin: 10px;
  border: 1px solid black;
  font-size: 20px;
  width: 200px;
  background-color: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #790953), color-stop(48%, #4d5291), to(#0063ff));
  background: linear-gradient(90deg, #020024 0%, #790953 0%, #4d5291 48%, #0063ff 100%);
}
/*# sourceMappingURL=style.css.map */